// Index - Home

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__image {
    height: 50vw;
  }

  &__heading {
    @extend .text-xxl;
    margin-bottom: 2rem;
  }

  &__text {
    @extend .text-sm;
    text-align: center;

    &--hidden {
      display: none;
    }
  }

  &__form {
    margin: 2rem 0;
  }
}

@include md() {
  .hero {
    &__heading {
      margin-top: 2rem;
    }

    &__form {
      margin: 4rem 0 4rem;
    }
  }
}

@include lg {
  .hero {
    justify-content: space-between;

    &__image {
      order: 2;
      width: 35%;
      height: 22rem;
      transform: scale(1.2);
      margin-right: 2%;
    }

    &__wrapper {
      order: 1;
      max-width: 50%;
      margin-left: 5%;
      padding-top: 1rem;
    }

    &__heading {
      text-align: left;
      white-space: nowrap;
    }

    &__text {
      text-align: left;

      &--hidden {
        display: inline;
      }
    }

    &__form {
      order: 3;
      margin: 6rem 0;
    }

    &__brands {
      order: 4;
    }
  }
}

@include xl {
  .hero {
    margin-left: auto;
    margin-right: auto;
  }
}
