// 3-Column Component
.columns-3 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    height: 6rem;
    margin: 0 auto;

    &--small {
      height: 2rem;
    }
  }

  &__heading {
    @extend .text-lg;
    margin: 0.5rem 0 0;
    text-align: center;

    &--altcolor {
      @include fg(orange);
    }
    &--left {
      text-align: left;
    }
  }

  &__text {
    @extend .text-sm;
    margin: 2rem 0 0;
    text-align: center;

    &--left {
      text-align: left;
    }
  }

  &__subtitle {
    @include fg(orange);
    margin: 1rem 0 0;
    text-align: center;
  }
}

@include lg {
  .columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;

    &__heading {
      margin-top: 2rem;
    }
  }
}
