// Buttons

.button {
  @include bg(white);
  @include fg(orange);
  @extend .text-lg;
  font-size: 1.8rem;
  height: 4rem;
  max-height: 4rem;
  min-width: 20rem;
  max-width: 22rem;
  display: grid;
  place-items: center;
  border-radius: $border-radius;
  padding: 0 1rem;
  border: none;

  &--green {
    @include fg(green);
  }

  &--orange {
    @include bg(white);
    @include fg(orange);
  }
}

@include lg {
  .button {
    font-size: 2rem;
  }
}
