// Footer

.footer {
  @include bg(nearly_black);
  margin-top: 5rem;

  &__wrapper {
    margin: 0 auto;
    width: 95%;
    padding: 1rem 0 3rem;
    max-width: 1280px;
  }

  &__logo {
    margin: 3rem 0;
    max-width: 12rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__block {
    margin-bottom: 2rem;
    grid-column-end: span 2;

    &--small {
      grid-column-end: span 1;
    }
  }

  &__line {
    @include bg(dark_grey);
    margin: 2rem 0;
    height: 0.1rem;
    border: none;
  }

  &__end {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
  }

  &__socialmedia {
    grid-column-start: 2;
    display: flex;
    align-items: center;
  }

  &__socialicon {
    max-width: 4rem;

    & img {
      display: flex;
      max-height: 3rem;
    }
  }

  &__credits {
    @extend .text-xxs;
    @include fg(dark_grey);
    margin-left: auto;
    display: flex;
    align-items: center;

    & > a {
      @include fg(dark_grey);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include md {
  .footer {
    &__content {
      grid-template-columns: 50% 1fr 15%;
      column-gap: 5rem;
    }

    &__block {
      grid-column-end: span 1;

      &:nth-of-type(2) {
        grid-column-start: 1;
        grid-row-start: 2;
      }

      &:nth-of-type(n + 3) {
        grid-row-end: span 2;
      }

      &:nth-last-of-type(2) {
        justify-self: end;
      }

      &:last-of-type {
        justify-self: center;
      }
    }
  }
}
