// Header

.header {
  min-height: 12rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .nav {
    @include bg(white);
    z-index: 2;
    top: 0;
  }

  &--bannerIsHidden {
    min-height: 6rem;
  }

  &__heading {
    @include fg(white);
    margin-top: 18rem;
    text-align: center;
    z-index: 1;

    &:last-child {
      margin-bottom: 6rem;
    }
  }

  &__button {
    @include fg(orange);
    @include bg(white);
    margin: 2rem auto 6rem;
    z-index: 1;
  }

  &--orange {
    @include headercolor(orange);
  }

  &--grey {
    @include headercolor(grey);
  }

  &--green {
    @include headercolor(green, green);
  }

  &--blue {
    @include headercolor(dark_blue);

    & .nav__listitem > a:hover {
      @include fg(orange);
    }
  }

  &--black {
    @include bg(black);

    & .nav {
      @include bg(black);

      @include md {  
          background-color: transparent;
        }

      &__list {
        @include bg(black);

        @include md {
          background-color: transparent;
        }
      }
      &__listitem {
        & > a {
          @include fg(white);

          &:hover {
            @include fg(orange);
          }
        }
      }
      & .menuicon__line {
        @include bg(white);
      }
    }
  }
}
