// Header

.header {
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .nav {
    @include bg(white);
  }

  &--bannerIsHidden {
    min-height: 6rem;
  }

  &--orange {
    @include bg(orange);

    & .nav {
      @include bg(orange);

      &__list {
        @include bg(orange);
      }
      &__listitem {
        & > a {
          @include fg(white);

          &:hover {
            @include fg(black);
          }
        }
      }
      & .menuicon__line {
        @include bg(white);
      }
    }
  }

  &__heading {
    @include fg(white);
    margin-top: 14rem;
    text-align: center;
  }

  &__button {
    @include fg(orange);
    @include bg(white);
    margin: 2rem auto 4rem;
  }
}
