// Header

.header {
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .nav {
    @include bg(white);
    z-index: 2;
    top: 0;
  }

  &--bannerIsHidden {
    min-height: 6rem;
  }

  &__heading {
    @include fg(white);
    margin-top: 18rem;
    text-align: center;
  }

  &__button {
    @include fg(orange);
    @include bg(white);
    margin: 2rem auto 6rem;
  }

  &--orange {
    @include headercolor(orange);
  }

  &--grey {
    @include headercolor(grey);
  }

  &--green {
    @include headercolor(green, green);
  }

  &--blue {
    @include headercolor(dark_blue);
  }
}
