// Banner

.banner {
  @include fg(white);
  @include bg(orange);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  max-height: 6rem;
  height: 6rem;

  &--isHidden {
    display: none;
  }

  &__content {
    grid-column-start: 1;
    display: flex;
    flex-wrap: wrap;
    max-height: 6rem;

    @include md {
      justify-content: center;
    }
  }

  &__text {
    @extend .text-sm;
    padding-left: 1rem;
    line-height: 2.2rem;
  }

  &__link {
    display: inline-block;
    height: 22px;
  }

  &__linkimg {
    height: 100%;
    vertical-align: top;
  }

  &__closebtn {
    @include bg(orange);
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: rotate(180deg);
    }
  }
}
