// // Image-Text-Block

.block-2 {
  @include bg(orange);
  width: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &--green {
    @include bg(green);
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;

    & picture img {
      object-fit: cover;
      height: 100%;
    }

    &--text {
      align-items: center;
      padding: 2.5rem;
    }
  }

  &__text {
    @include fg(white);
  }

  &__button {
    margin-top: 2rem;
  }
}

// 768+
@include md {
  .block-2 {
    flex-direction: row;

    &__block {
      width: 50%;
      align-items: flex-start;
      justify-content: center;
    }

    &__button {
      margin-top: 4rem;
    }
  }
}

// 1200+
@include xl {
  .block-2 {
    width: 90%;

    &__text {
      font-size: 2.2rem;
    }
  }
}
