// List of blocks

.block-list {
    list-style: none;

    &__item {
        @include bg(light_grey);
        display: flex;
        padding: 2.5rem;

        &:nth-child(n + 2) {
            margin-top: 2rem;
        }
    }

    &__image {
        max-height: 20px;
        max-width: 20px;
        margin-right: 2rem;
    }

    &__text {
        @extend .text-sm;
    }
}