// // Image-Text-Block

.block-2 {
  @include bg(orange);
  width: 100%;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &--green {
    @include bg(green);
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;

    &--center {
      align-items: center;
      padding: 2.5rem;

      & img {
        max-width: 350px;
        border-radius: $border-radius;
      }
    }
  }

  & picture {
    max-height: 25rem;
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__text {
    @include fg(white);

    &--center {
      text-align: center;
    }
  }

  &__button {
    margin-top: 2rem;
  }
}

// 768+
@include md {
  .block-2 {
    flex-direction: row;

    &__block {
      width: 50%;
      align-items: flex-start;
      justify-content: center;

      &--center {
        align-items: center;
      }
    }

    & picture {
      max-height: 45rem;
    }

    &__button {
      margin-top: 4rem;
    }
  }
}

// 1200+
@include xl {
  .block-2 {
    &__text {
      font-size: 2.2rem;
    }
  }
}
