// Buttons

.button {
  @extend .text-lg;
  font-size: 1.8rem;
  height: 4rem;
  max-height: 4rem;
  max-width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

@include lg {
  .button {
    font-size: 2rem;
  }
}
