// Card componentent like on standorte page

.card {
  @include bg(light_grey);
  width: 100%;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & picture {
    height: auto;
  }

  &__img {
    height: 25rem;
    object-fit: cover;
  }

  &__wrapper {
    height: 100%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    @extend .text-lg;
    margin-bottom: 1rem;
  }

  &__text {
    @include fg(grey);
    @extend .text-sm;
    font-weight: 400;

    &:nth-of-type(2) {
      margin-bottom: 2rem;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 2rem;
    }
  }

  &__link {
    @include fg(orange);
    @extend .text-sm;
    margin-top: auto;

    &:hover {
      opacity: 0.2;
    }
  }

  &__icon {
    display: inline;
    height: 1.6rem;
    width: auto;
    vertical-align: bottom;
    margin-right: 1rem;
  }
}

@include lg {
  .card {
    &__img {
      height: 20rem;
    }
  }
}
