// 3-Column Component
.columns-3 {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__column {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }

  &__icon {
    height: 6rem;
    margin: 0 auto;

    &--small {
      height: 2rem;
    }
  }

  &__heading {
    @extend .text-xl;
    margin: 0.5rem 0 0;
    &--altcolor {
      @include fg(orange);
    }
    &--left {
      text-align: left;
    }
  }

  &__text {
    margin: 2rem 0 0;
    &--left {
      text-align: left;
    }
  }

  &__subtitle {
    @include fg(orange);
    margin: 1rem 0 0;
  }
}
