// 3-Column Component
.columns-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;

  &__column {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }

  &__icon {
    height: 6rem;
    margin: 0 auto;

    &--small {
      height: 2rem;
    }
  }

  &__heading {
    @extend .text-xl;
    margin: 0.5rem 0 0;
    &--altcolor {
      @include fg(orange);
    }
    &--left {
      text-align: left;
    }
  }

  &__text {
    @extend .text-sm;
    margin: 2rem 0 0;
    &--left {
      text-align: left;
    }
  }

  &__subtitle {
    @include fg(orange);
    margin: 1rem 0 0;
  }
}

// 768+
@include md {
  .columns-3 {
    width: 90%;
    max-width: 1024px;
  }
}

// 992+
@include lg {
  .columns-3 {
    flex-direction: row;
    justify-content: space-between;

    &__column {
      margin-bottom: 0;
      width: 30%;
    }
  }
}
