//  2-Column Layout
.columns-2 {
  padding: 2.5rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    @include fg(white);
    @extend .text-xl;
    margin-top: 2rem;
    text-align: center;
  }

  &__button {
    @include fg(orange);
    @include bg(white);
    margin: 2rem auto 0;
  }
}
