//  2-Column Layout
.columns-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5rem;

  &__column {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  &__text {
    @extend .text-sm;
  }

  &__icon {
    min-width: 15%;
    width: 15%;
    max-height: 9rem;
    margin-right: 5%;
  }

  &__heading {
    @extend .text-lg;
    margin-bottom: 1rem;
    display: block;

    &--link {
      @include fg(black);
      transition: all .1s ease-in-out;

      &:hover {
        @include fg(orange);
      }
    }
  }
}

@include md {
  .columns-2 {
    &__icon {
      min-width: 10%;
      width: 10%;
      max-height: 6rem;
      margin-right: 5%;
    }
  }
}

@include lg {
  .columns-2 {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@include xl {
  .columns-2 {
    row-gap: 8rem;
    column-gap: 10rem;
  }
}
