// Form styles

.form {
    display: flex;
    flex-wrap: wrap;

    &--block {
        @include bg(orange);
        border-radius: $border-radius;
        padding: 2rem 3rem;

        & .form__label, .form__info {
            @include fg(white);
        }

        & .form__required {
            @include fg(black);
        }

        & .form__button {
            margin-top: 2rem;
        }

        & .form__info {
            margin-bottom: 0;
        }
    }

    &__checkbox {
        position: relative;
        left: 15px;
        top: -4px;
        z-index: 0;
        -webkit-appearance: none;

        & + label::before {
            width: 12px;
            height: 12px;
            border-radius: 3px;
            border: 4px solid white;
            background-color: #fff;
            display: block;
            content: "";
            float: left;
            margin-right: 1rem;
            z-index: 5;
            position: relative;
        }

        &:checked + label::before {
            @include bg(orange);
        }
    }

    &__error {
        @extend .text-md;
        font-weight: 400;
        margin-bottom: 2rem;
        display: none;
    }

    &__half, &__full {
        width: 100%;
        display: flex;
        flex-direction: column;

        &--inline {
            flex-direction: row;
        }

        &:nth-of-type(n + 2) {
            margin-top: 3rem;
        }
    }

    &__label {
        @include fg(dark_grey);
        @extend .text-xs;
        margin-bottom: 1rem;      
    }

    &__required {
        @include fg(orange);
    }

    &__input, &__textarea {
        @include bg(light_grey);
        @extend .text-md;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        border-radius: $border-radius;
    }

    &__input {
        min-height: 4.4rem;
        padding: 0 1rem;
    }

    &__textarea {
        padding: 1rem;
        min-height: 20rem;
    }

    &__info {
        width: 100%;
        margin: 3rem 0;
        @extend .text-xxs;
    }

    &__select {
        @include bg(light_grey);
        appearance: none;
        -webkit-appearance: none;
        border: 0;
        height: 4.4rem;
        @extend .text-md;
        background-image: url(assets/images/icons/triangle_down.svg);
        background-repeat: no-repeat;
        background-clip: right;
        background-size: 6%;
        background-position: 95%;
        padding: 0 1rem;
        outline: none;
        border-radius: $border-radius;
        
        &[name=modell]:nth-of-type(1) {
            display: block;
        }
    }
}

@include md {
    .form {
        width: 90%;
        justify-content: space-between;

        &__half {
            width: 46%;

            &:nth-of-type(n) {
                margin-top: 0;
            }
            
            &:nth-of-type(n + 3) {
                margin-top: 4rem;
            }
        }


    }
}


@include lg {
    .form {
        width: 80%;
    }
}