// Image-Text-Block

.imgtxtblock {
  $this: &;
  width: 100%;
  display: flex;
  flex-direction: column;

  &--green {
    & #{$this}__block {
      @include bg(green);
    }
    & #{$this}__button {
      @include fg(green);
    }
  }

  &__block {
    @include bg(orange);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.5rem;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }

  &__img {
    display: block;
    width: 100%;

    & img {
      display: flex;
      width: 100%;
      border-top-left-radius: 0.2rem;
      border-top-right-radius: 0.2rem;
    }
  }

  &__text {
    @include fg(white);
  }

  &__button {
    @include fg(orange);
    @include bg(white);
    margin-top: 2rem;
  }
}

// 768+
@include md {
  .imgtxtblock {
    flex-direction: row;
    justify-content: space-between;

    &__img {
      & img {
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
        border-top-right-radius: 0;
      }
    }

    &__block {
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
    }
  }
}
