// Styles for job component

.jobs {
    &__tabs {
        display: flex;
        margin-bottom: 3rem;
    }

    &__tab-button {
        &:nth-child(n + 2) {
            margin-left: 5rem;
        }
    }

    &__tab-heading {
        @include fg(grey);
        border-bottom: 2px solid transparent;
        transition: all .2s ease-in-out;

        &--active {
            @include fg(orange);
            border-bottom-color: orange;
        }
    }

    &__tab-content {
        display: none;

        &--active {
            display: block;
        }
    }
}

.job {

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // flex-wrap: wrap;

    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__title {
        @extend .text-lg;
        font-size: 2rem;
    }

    &__description {
        @extend .text-xs;
        @include fg(grey);
        margin-top: 1rem;
        text-align: end;
    }

    &:nth-last-child(n + 2) {
         &::after {
            content: '';
            display: block;
            @include bg(light_grey);
            height: 2px;
            width: 100%;
            margin: 2rem auto;
        }
    }   
}
@include sm {
    .job {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &__info {
            display: flex;
            width: inherit;
            flex-direction: column;
            margin-bottom: 0;
        }

        &__description {
            text-align: left;
        }
    }
}


@include md {
    .jobs {
        width: 80%;
    }
}