// Navigation

.nav {
  position: fixed;
  width: 100%;
  transition: background-color .2s ease-in-out;

  &__wrapper {
    margin: 1rem auto;
    max-width: 1280px;
    width: 95%;
    display: flex;
    align-items: center;
    min-height: 6rem;
  }

  &__button {
    margin-left: 1rem;
    max-height: 3.2rem;
    min-width: 11rem;
    font-size: 1.6rem;
  }

  &__phone {
    width: 3.5rem;
    margin-right: 1rem;
    margin-left: auto;
  }

  &__img {
    display: flex;
  }

  &__list {
    @include bg(white);
    position: fixed;
    right: 0;
    top: 13.9rem;
    min-height: 94.5vh;
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    flex-direction: column;
    align-items: center;
    transform: translateX(100vw);
    transition: transform 0.5s ease-in-out;

    &--bannerIsHidden {
      top: 7.9rem;
    }

    &--active {
      transform: translateX(0vw);
    }
  }

  &__listitem {
    font-size: 2.2rem;
    margin: 0 0 4rem;
    opacity: 0;

    &:first-of-type {
      margin-top: -20vh;
    }
    & > a {
      @include fg(black);
      font-family: $font-heading;

      &:hover {
        @include fg(orange);
      }
    }
  }
}

// Animations
@keyframes navListitemFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@include lg {
  .nav {
    &__list {
      position: static;
      min-height: 0;
      display: flex;
      justify-content: space-around;
      width: 50%;
      list-style: none;
      flex-direction: row;
      align-items: center;
      transform: translateX(0);
      transition: none;
      margin-left: auto;
    }

    &__listitem {
      font-family: $font-text;
      font-size: 1.6rem;
      margin: 0;
      opacity: 1;

      &:first-of-type {
        margin-top: 0;
      }
      & > a {
        @include fg(black);
      }
    }

    &__button {
      margin-right: 0;
      margin-left: 1rem;
      max-height: 3.6rem;
      min-width: 16rem;
      font-size: 1.8rem;
    }

    &__phone {
      margin-left: 0;
      margin-right: 0;
    }

    &__menuicon {
      display: none;
    }
  }
}
