//  styles sections

.section {
  &__heading {
    text-align: center;
    margin-bottom: $section-distance / 2;
    @extend .text-xl;
  }

  &__content {
    max-width: 1024px;
    margin: 0 auto;

    &:nth-of-type(n + 2) {
      margin-top: $section-distance / 2;
    }

    &--small {
      max-width: 900px;
    }
  }
}

@include md {
  .section {
    &__content {
      margin: $section-distance / 2 auto 0;
      width: 90%;

      &--large {
        max-width: none;
        width: 100%;
      }

      &--space {
        &:nth-of-type(n + 2) {
          margin-top: $section-distance;
        }
      }
    }
  }
}

@include lg {
  .section {
    &__content {
      &:nth-of-type(n + 2) {
        margin-top: $section-distance / 1.5;
      }

      &--space {
        &:nth-of-type(n + 2) {
          margin-top: $section-distance * 1.2;
        }
      }

      &--small {
        width: 80%;
      }
    }
  }
}
