// Helper Classes

.white {
  @include fg(white);
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.no-pseudo-elements {
  &::after {
    display: none;
  }
  &::before {
    display: none;
  }
}

.bold {
  @extend .text-md;
  font-weight: 400 !important;

  & > * {
    @extend .text-md;
    font-weight: 400 !important;
  }
}