// Reset File

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

a,
a:visited {
  @include fg(black);
  text-decoration: none;
  cursor: pointer;
}
