// Font Families
h1,
h2,
h3,
h4,
h5,
h6,
.text-xxxl,
.text-xxl,
.text-xl,
.text-lg {
  font-family: $font-heading;
}

// Text Size
h1,
.text-xxxl {
  font-size: 3rem;

  @include md {
    font-size: 4rem;
  }
}

h2,
.text-xxl {
  font-size: 2.6rem;

  @include md {
    font-size: 3rem;
  }
}

h3,
.text-xl {
  font-size: 2rem;

  @include md {
    font-size: 1.8rem;
  }
}

h4,
.text-lg {
  font-size: 1.8rem;
}

p,
.text-md,
.text-sm,
.text-xs,
.text-xxs {
  font-family: $font-text;
  font-size: 1.8rem;
  font-weight: 300;
}

.text-sm {
  font-size: 1.6rem;
}

.text-xs {
  font-size: 1.4rem;
}

.text-xxs {
  font-size: 1.2rem;
}
